body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 48px;
  left: 0;
  top: 0;
  background: #3c3a39;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.nav_list {
  display: none;
}

.h1_1 {
  height: auto;
  position: static;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 6px 24px;
}

.section1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  position: static;
  width: 100vw;
  box-sizing: border-box;
  background: #1c1a19;
  background-image: url('./images/Illustration.png');
  background-repeat: no-repeat;
  background-position-x: right;
}

.h2_1 {
  position: static;
  width: 77px;
  height: 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  flex: none;
  padding-left: 24px;
  padding-top: 6px;
}

h3 {
  position: static;
  width: auto;
  max-height: 100vh;
  height: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin: 6px 0 6px 24px;
  align-self: start;
}

.p1 {
  position: static;
  height: auto;
  left: 24px;
  top: 295px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  flex-grow: 0;
  z-index: 3;
  margin: 6px 24px;
}

.links_png {
  position: static;
  width: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 6px 0 6px 0;
  padding-inline-start: 0;
  padding-left: 24px;
  align-self: start;
}

.li_png {
  width: 40px;
  height: 40px;
}

.png_img {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: 20px;
}

.png_img:hover {
  filter: sepia(100%) hue-rotate(142deg) saturate(500%);
}

.hamburger {
  position: absolute;
  width: 16px;
  height: 12px;
  right: 24px;
}

.hamburger:hover {
  min-height: 83px;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1d1b1a;
  order: 0;
  align-self: start;
  margin: 120px 24px 80px 24px;
  padding-inline-start: 0;
  border-bottom: solid #212121 1px;
  padding-bottom: 24px;
}

.vector {
  position: absolute;
  top: 232px;
  right: 0;
}

.button1 {
  border: none;
  padding: 0;
}

.h1_2 {
  width: 90%;
  min-height: 83px;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1d1b1a;
  order: 0;
  align-self: start;
  margin: 120px 24px 80px 24px;
  padding-inline-start: 0;
  border-bottom: solid #212121 1px;
  padding-bottom: 24px;
}

.image-section2 {
  margin: 0;
  margin-bottom: 6px;
  max-width: 327px;
  height: auto;

}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.h2_2 {
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 18px 0 6px 0;
  align-self: start;
  padding-inline-start: 0;
  padding-left: 24px;
}

.arrange_img_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p2 {
  height: auto;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 6px 24px;
  color: #091e42;
}

.buttons_s2 {
  width: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 6px 0 6px 0;
  padding-inline-start: 0;
  left: 12px;
  align-self: start;
  padding-left: 18px;
}

.buttonL {
  padding: 10px 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin: 0 6px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.buttonEn {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 6px 10px 6px 24px;
  padding: 10px 12px 10px 12px;
  align-self: start;
}

.section_M {
  position: relative;
  flex-direction: column;
  display: inline-block;
  min-height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/portfolioBackground.png);
  margin: 24px;
  background-size: 100% 100%;
}

.h1_3 {
  min-height: 81px;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-self: start;
  margin: 84px 16px 12px 16px;
}

.p_sectionM {
  height: 87px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 16px 6px 16px;
}

.ul_sectionM {
  position: static;
  width: 100%;
  max-width: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 6px 0 6px 10px;
  padding-inline-start: 0;
  left: 12px;
}

.butn_M {
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  color: #fff;
  margin: 6px;
  border: none;
}

#section_m1 {
  width: calc(100vw - 48px);
}

.button_section_M_id1 {
  position: absolute;
  bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  background: #ff6b00;
  width: 100%;
  padding-top: 8px;
  border: none;
}

.btn_M_en {
  position: absolute;
  bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  background: #ff6b00;
  width: 100%;
  padding-top: 8px;
  border: none;
}

.section_aboutMe {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a19;
  margin-top: 120px;
}

.h2_4 {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  align-self: start;
  margin: 120px 24px 12px 24px;
}

.p_4 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 12px 24px 12px 24px;
}

.btn_about {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #ff6b00;
  align-self: start;
  margin: 12px 0 209px 24px;
  border: none;
}

.bottom_line {
  width: 85%;
  border: 1px solid #fff;
}

.languages {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.languages_title {
  display: flex;
  flex-direction: row;
}

.h1_5 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
  justify-self: center;
}

.lng_elmnt {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.rectangle {
  margin-top: 11px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.rectangle1 {
  margin-top: 6px;
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.img_about_me {
  position: absolute;
  align-self: flex-end;
  margin-top: 390px;
}

.languages_div {
  margin-top: 136px;
  margin-bottom: 136px;
}

.btn_about:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.btn_M_en:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.buttonL:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.buttonEn:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.button1:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.butn_M:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.btn_about:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.btn_M_en:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.butn_M:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.button1:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.buttonEn:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.buttonL:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_contact_form {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  position: static;
  width: calc(100vw - 48px);
  height: 216px;
  margin: 120px 24px 15px 24px;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
  padding-inline-start: 0;
  width: calc(100vw - 48px);
  margin-bottom: 100px;
}

.form_list li {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_list input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 40px;
  padding-bottom: 14px;
  width: 100%;
  color: #979493;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-left: 12px;
}

.form_list textarea {
  padding-top: 12px;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f8;
  width: 100%;
  border: none;
  padding-left: 12px;
}

.form_list button {
  background: #ff6b00;
  margin: 24px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
}

.horizontal-bar1 {
  border-bottom: 1px solid #dfe1e6;
  width: 100vw;
}

.icons_form {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}

.bottom_bar {
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  margin-bottom: 8px;
}

.butn_submit:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}
