body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;
}

.section1 {
  display: flex;
  flex-direction: row;
  background: #1c1a19;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin-left: 0;
  background-image: url('./images_desk/Illustration-header@2x.png');
  background-position: absolute;
  background-size: 540px;
  background-repeat: no-repeat;
  background-position-x: right;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 48px;
  left: 0;
  top: 0;
  background: #3c3a39;
  margin-bottom: 12px;
  box-sizing: border-box;
  z-index: 2;
}

.h2_1 {
  position: static;
  width: 77px;
  height: 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  flex: none;
  padding-left: 154px;
  text-decoration: none;
}

.nav_list {
  position: absolute;
  right: 154px;
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 1;
}

.nav_list li {
  list-style-type: none;
}

.nav_menu {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  margin-right: 32px;
}

.hamburger {
  position: static;
  width: 20px;
  height: 15px;
}

.links_png {
  order: 1;
  width: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 6px 0 6px 26px;
  padding: 10px;
}

.png_img {
  margin: 10px;
}

.p_section12 {
  margin-left: 57px;
  width: 490px;
  order: 2;
}

.h1_1 {
  width: 300px;
  height: auto;
  position: static;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0 0 18px 0;
}

h3 {
  position: static;
  width: auto;
  max-height: 100vh;
  height: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin: 6px 0 6px 0;
  align-self: start;
}

.p1 {
  position: static;
  height: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  flex-grow: 0;
  z-index: 3;
  margin: 18px 0 0 0;
}

.my_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_works_title {
  margin-top: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1_2 {
  width: 315px;
  max-height: 52px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  padding-right: 24px;
}

.yellow_line {
  width: calc(100vw - 623px);
  height: 0;
  border: 1px solid #212121;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrange_img_flex {
  display: flex;
  flex-direction: row;
  width: calc(100vw - (100vw * 0.2));
}

.text_flex {
  width: calc(100% - (100vw * 0.311111) - 24px);
  border: 1px solid black;
}

.h2_2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin: 0 0 12px 0;
  max-width: calc(100% - 12px);
}

.p2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
}

.image-section2 {
  padding-right: 24px;
  width: calc(100vw * 0.475) ;
  height: calc(100vw * 0.311111);
}

.buttons_s2 {
  width: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 6px 0 18px 0;
  padding-inline-start: 0;
  left: 12px;
  align-self: start;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {
  .buttons_s2 {
    width: auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    margin: 6px 0 18px 0;
    padding-inline-start: 0;
    left: 12px;
    align-self: start;
    padding-left: 0;
  }

  .my_works_grid {
    display: grid;
    grid-template-columns: 1fr 1fr!important;
  }
}

.buttonL {
  padding: 10px 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin: 0 12px 0 0;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.buttonEn {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 6px 10px 6px 0;
  padding: 10px 12px 10px 12px;
  align-self: start;
}

.my_works_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100vw - (100vw * 0.2));
  margin-top: 24px;
  row-gap: 37px;
  column-gap: 24px;
}

.section_M {
  width: auto;
  min-height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn_M_en {
  display: none;
}

#section_m1 {
  position: relative;
  background-image: url("./images_desk/img_backgroud1.png");
}

.M1 p {
  display: none;
}

.M1 h2 {
  display: none;
}

#section_m2 {
  position: relative;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url("./images_desk/img_backgroud2.png");
}

#section_m3 {
  position: relative;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.8%, rgba(38, 38, 38, 0.9) 84.03%), url("./images_desk/img_backgroud3.png");
}

#section_m4 {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url("./images_desk/img_backgroud1.png");
}

#section_m5 {
  position: relative;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url("./images_desk/img_backgroud2.png");
}

#section_m6 {
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url("./images_desk/img_backgroud3.png");
}

.button_section_M_id1 {
  position: absolute;
  bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  background: #ff6b00;
  width: 100%;
  padding-top: 8px;
  border: none;
}

.h1_3 {
  min-height: 81px;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-self: start;
  margin: 84px 16px 12px 16px;
}

.p_sectionM {
  height: 87px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 16px 6px 16px;
}

.ul_sectionM {
  position: static;
  width: 100%;
  max-width: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 6px 0 6px 10px;
  padding-inline-start: 0;
  left: 12px;
}

.butn_M {
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  color: #fff;
  margin: 6px;
  border: none;
}

.section_aboutMe {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  margin-top: 120px;
}

.h2_4 {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  align-self: start;
  margin: 120px 24px 12px calc(100vw * 0.1);
}

.p_4 {
  width: calc(100vw * 0.393);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 12px 24px 12px calc(100vw * 0.1);
}

.btn_about {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #ff6b00;
  align-self: start;
  margin: 24px 0 209px 154px;
  border: none;
}

.img_about_me {
  position: absolute;
  align-self: flex-end;
  margin-top: 99px;
  width: 478px;
  height: auto;
}

.bottom_line {
  width: calc(100vw - (100vw * 0.2));
  border: 1px solid #fff;
  margin-left: calc(100vw * 0.1);
}

.languages_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100vw - (100vw * 0.2));
  margin-left: calc(100vw * 0.1);
  margin-top: 147px;
  margin-bottom: 124px;
}

.languages {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 12px;
}

.languages_title {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}

.h1_5 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
  justify-self: center;
}

.lng_elmnt {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding-inline-start: 0;
  align-self: flex-start;
}

.rectangle {
  margin-top: 11px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.rectangle1 {
  margin-top: 6px;
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.contacts_and_sumary {
  display: grid;
  grid-template-columns: calc(100vw * 0.315972) calc(100vw * 0.475);
  column-gap: 24px;
  width: calc(100vw - (100vw * 0.2));
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_contact_form {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #262626;
  position: static;
  width: calc(100vw * 0.315972);
  margin: 130px 0 15px 0;
  text-align: left;
  padding-inline-start: 0;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  padding-inline-start: 0;
  margin-bottom: 100px;
}

.form_list li {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-inline-start: 0;
}

.form_list input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 40px;
  padding-bottom: 14px;
  width: calc(100vw * 0.475);
  color: #979493;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-left: 12px;
}

.form_list textarea {
  padding-top: 12px;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f8;
  width: calc(100vw * 0.475);
  border: none;
  padding-left: 12px;
}

.form_list button {
  background: #ff6b00;
  margin: 24px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
}

.horizontal-bar1 {
  border-bottom: 1px solid #dfe1e6;
  width: 100vw;
}

.icons_form {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}

.bottom_bar {
  border: none;
}

.btn_about:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.btn_M_en:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.buttonL:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.buttonEn:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.button1:hover {
  filter: sepia(100%) hue-rotate(142deg) saturate(500%);
}

.butn_M:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.btn_about:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.btn_M_en:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.butn_M:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.buttonEn:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.buttonL:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.butn_submit:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.button_section_M_id1:hover {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.button_section_M_id1:active {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #f4f1f0;
  background: #e05304;
}

.png_img:hover {
  filter: sepia(100%) hue-rotate(142deg) saturate(500%);
}
